@page "/AddDepartment"
@using BlazorApp2.Services;
@using BlazorApp2.Data.Dtos;
@using BlazorApp2.Data.Models;
@inject UserService userService
@inject DepartmentService departmentService
@inject NavigationManager NavigationManager

<h2>Add Department</h2>
<form>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="Name">Name</label>
                <input form="Name" class="form-control" @bind="@department.Name" />
            </div>
            <div class="form-group">
                <label for="Job">Location</label>
                <input form="Job" class="form-control" @bind="@department.Location" />
            </div>
            <div class="form-group">
                <label for="Age">Budget</label>
                <input form="Age" class="form-control" @bind="@department.Budget" />
            </div>


            <div class="form-group">
                <label>Select Manager</label>
                <select @bind="@department.Manager" class="form-control">
                    <option value="" selected hidden>Choose here</option>
                    @foreach (var user in users)
                    {
                        <option value="@user.Id" >@user.Name</option>
                    }
                </select>
            </div>







        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@CreateDepartment" value="Save" />
                <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>
</form>


@code {
    DepartmentDto department = new DepartmentDto();
    List<UserDto> users = new List<UserDto>();


    protected override void OnInitialized()
    {
        users =  userService.GetAllUsers();

    }


    protected void CreateDepartment()
    {

        Console.Write(department);



        departmentService.InsertDepartment(department);
        NavigationManager.NavigateTo("Departments");

    }

    void Cancel()
    {
        NavigationManager.NavigateTo("Departments");
    }
}